@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <!-- favicon -->
    <link rel="icon" href="@Url.Content("~/assets/images/favicon.png")" sizes="20x20" type="image/png">
    <!-- animate -->
    <link rel="stylesheet" href="@Url.Content("~/Content/animate.css")">
    <!-- bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <!-- owl carousel -->
    <link rel="stylesheet" href="@Url.Content("~/Content/owl.carousel.min.css")">
    <!-- fontawesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css")">
    <!-- flaticon -->
    <link rel="stylesheet" href="@Url.Content("~/Content/font/flaticon.css")">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="@Url.Content("~/Content/main.css")">
</head>
<body id="default-home">
    <!-- Header start -->
    <div id="header-section" class="header-style-01">
        <!--... rest of the content ...-->

        <!--... rest of the content ...-->
    </div>
    <!-- Header end --><!-- Hero start -->
    <section id="hero-section" class="hero-slider-one style-01">
        <div class="hero-area bg-prefix">
            <!--... rest of the content ...-->
            <div class="hero-btn mt-30">
            </div>
        </div>
    </section>
</body>
</html>


<!-- Service start -->
<section id="service-section" class="service pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-sm-12 col-12">
                <div class="section-title service-title text-center mb-25">
                    <span class="subtitle">what we do for you?</span>
                    <h2 class="title">Popular services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-single-item mt-30">
                    <div class="service-icon-shape">
                        
                        <div class="icon"><i class="flaticon-window"></i></div>
                    </div>
                    <div class="content mt-30">
                        <a href="service-single.html">
                            <h4 class="title">CT Appointment</h4>
                        </a>
                        <p class="text">   </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-single-item mt-30">
                    <div class="service-icon-shape">
                        
                        <div class="icon"><i class="flaticon-clean"></i></div>
                    </div>
                    <div class="content mt-30">
                        <a href="service-single.html">
                            <h4 class="title">image diagnosis</h4>
                        </a>
                        <p class="text">  </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-single-item mt-30">
                    <div class="service-icon-shape">
                        
                        <div class="icon"><i class="flaticon-cleaning"></i></div>
                    </div>
                    <div class="content mt-30">
                        <a href="service-single.html">
                            <h4 class="title">Report Inquiry</h4>
                        </a>
                        <p class="text"> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-single-item mt-30">
                    <div class="service-icon-shape">
                        
                        <div class="icon"><i class="flaticon-home"></i></div>
                    </div>
                    <div class="content mt-30">
                        <a href="service-single.html">
                            <h4 class="title">Find a Doctor</h4>
                        </a>
                        <p class="text">   </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-single-item mt-30">
                    <div class="service-icon-shape">
                        
                        <div class="icon"><i class="flaticon-joist"></i></div>
                    </div>
                    <div class="content mt-30">
                        <a href="service-single.html">
                            <h4 class="title">Find a hospital</h4>
                        </a>
                        <p class="text">    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service End --><!-- About start -->
<section id="about-section" class="about-area mt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <span class="subtitle">we are plumbart</span>
                            <h2 class="title">Connet us</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="request-form">
                    <div class="content">
                        <h3 class="title">Get a quote</h3>
                    </div>
                    <form action="request.html" class="request-page-form" novalidate="novalidate">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="Name" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Email" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" name="phone" placeholder="phone" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" name="date" placeholder="20-06-2021" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea name="your-message" cols="40" rows="2" class="form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="Submit Request" class="submit-btn">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Projects end --><!-- Solution start -->
<section id="solution-section" class="solution-area mt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section-title solution-title text-center mb-25">
                    <span class="subtitle">How to solve problem?</span>
                    <h2 class="title">Our Solutions</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-12">
                
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="solution-item mt-30">
                            <div class="solution-shape-icon">
                                
                                <div class="icon"><i class="flaticon-commode"></i></div>
                            </div>
                            <div class="content mt-30">
                                <h5 class="title">CT IMAGE</h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="solution-item mt-30">
                            <div class="solution-shape-icon">
                                
                                <div class="icon"><i class="flaticon-pipes"></i></div>
                            </div>
                            <div class="content mt-30">
                                <h4 class="title">CT IMAGE</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="solution-item mt-30">
                            <div class="solution-shape-icon">
                                
                                <div class="icon"><i class="flaticon-pressure-gauge"></i></div>
                            </div>
                            <div class="content mt-30">
                                <h5 class="title">CT IMAGE</h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="solution-item mt-30">
                            <div class="solution-shape-icon">
                                <div class="icon"><i class="flaticon-shower-1"></i></div>
                            </div>
                            <div class="content mt-30">
                                <h4 class="title">CT IMAGE</h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Solution end --><!-- testimonial start -->
<!-- testimonial end --><!-- Team start -->
<section id="team-section" class="blog-area mt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="section-title project-title text-center mb-25">
                    <span class="subtitle">How do work our expert?</span>
                    <h2 class="title">Our Experienced Team</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-item mt-30">
                    
                    <div class="content">
                        <h5 class="title">Alok Macron</h5>
                        <span>Plumber</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item mt-30">
                    
                    <div class="content">
                        <h5 class="title">Rafael Solen</h5>
                        <span>Plumber</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item mt-30">
                    
                    <div class="content">
                        <h5 class="title">Anna Maria</h5>
                        <span>Plumber</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item mt-30">
                    
                    <div class="content">
                        <h5 class="title">Jim Hariken</h5>
                        <span>Plumber</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team end --><!-- blog start -->
<!-- Blog end --><!-- Footer start -->

<!-- Footer end --><!-- Back to top start -->
<div class="back-to-top"><span class="back-top"><i class="fa fa-angle-up"></i></span></div>
<!-- Back to top end --><!-- Preloader start -->
<!-- Preloader end -->
<!-- jquery -->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<!-- bootstrap -->
<script src="~/Scripts/bootstrap.min.js"></script>
<!-- magnific popup -->
<script src="~/Scripts/jquery.magnific-popup.js"></script>
<!-- wow -->
<script src="~/Scripts/wow.min.js"></script>
<!-- owl carousel -->
<script src="~/Scripts/owl.carousel.min.js"></script>
<!-- waypoint -->
<script src="~/Scripts/waypoints.min.js"></script>
<!-- counterup -->
<script src="~/Scripts/jquery.counterup.min.js"></script>
<!-- jarallax -->
<script src="~/Scripts/jarallax.min.js"></script>
<!-- main js -->
<script src="~/Scripts/mainsc.js"></script>
</body>
</html>