@model IEnumerable<tryass.Models.Map>

@{
    ViewBag.Title = "Map Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #map, #pano {
        height: 100%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

</style>
<div class="container mt-5">
    <h2 class="text-center mb-5">Maps</h2>

    <div class="col-md-8">
        <div id="map" style="height:200px; width: 45%; float: left;"></div>
        <div id="pano" style="height:200px; width: 45%; float: left;"></div>
    </div>


    <div class="col-md-4">
        <h4>Directions</h4>
        <form>
            <div class="form-group">
                <label for="start">Start</label>
                <input type="text" id="start" class="form-control" placeholder="Starting Point">
            </div>

            <div class="form-group">
                <label for="end">Destination</label>
                <select id="end" class="form-control">
                    @foreach (var map in Model)
                    {
                        <option value="@map.Description">@map.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="mode">Mode</label>
                <select id="mode" class="form-control">
                    <option value="DRIVING">Driving</option>
                    <option value="WALKING">Walking</option>
                    <option value="BICYCLING">Bicycling</option>
                    <option value="TRANSIT">Transit</option>
                </select>
            </div>

            <button type="button" class="btn btn-primary" id="get-direction">Get Directions</button>
        </form>
        <div id="sidebar"></div>
    </div>

    @if (User.IsInRole("Staff"))
    {
        <div class="text-center mt-5">
            @Html.ActionLink("Create New", "Create", "Locations", new { @class = "btn btn-success" })
        </div>
    }

    <h3 class="mt-5">Maps List</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Latitude)</th>
                <th>@Html.DisplayNameFor(model => model.Longitude)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Latitude)</td>
                    <td>@Html.DisplayFor(modelItem => item.Longitude)</td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm mr-1" })
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm mr-1" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/datatable")
@Scripts.Render("~/bundles/mapbox")

@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvOTMktllShGGIMjKKyKNIUKBhwVZmZZk&callback=initMap&libraries=places&v=weekly" async></script>

}
