@model IEnumerable<tryass.Models.Appointment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Appointments</h2>

<p class="mb-4">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="mb-3">
    <label for="dateFilter" class="form-label">Filter by date:</label>
    <input type="date" id="dateFilter" class="form-control-inline mr-2" />
    <button id="applyFilter" class="btn btn-info">Apply Filter</button>
</div>

<table class="table table-bordered table-striped" id="userTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Map.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBooked)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Map.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBooked)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm mr-1" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm mr-1" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm mr-1" })
                    @if (item.IsBooked)
                    {
                        <button class="btn btn-dark" disabled>Booked</button>
                    }
                    else
                    {
                        <button class="btn btn-success" data-appointment-id="@item.Id">Book</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#userTable').DataTable();

            $('#applyFilter').click(function () {
                var selectedDate = $('#dateFilter').val();
                var parts = selectedDate.split('-');
                var formattedDate = parts[2] + '/' + parts[1] + '/' + parts[0];
                table.column(2).search('^' + formattedDate, true, false).draw();
            });

            $('#userTable').on('click', '.btn-success', function () {
                var appointmentId = $(this).data('appointment-id');
                $.post('/Appointments/BookAppointment', { appointmentId: appointmentId }, function (data) {
                    if (data.success) {
                        alert('Appointment booked successfully.');
                        location.reload();
                    } else {
                        alert('Appointment booking failed.');
                    }
                });
            });
        });
    </script>
}
