@model tryass.Models.Annotation

@{
    ViewBag.Title = "Edit Annotation";
}

<h2>Edit Annotation</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.UserId, "User ID")
        @Html.EditorFor(model => model.UserId)
        @Html.ValidationMessageFor(model => model.UserId)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comment, "Comment")
        @Html.EditorFor(model => model.Comment)
        @Html.ValidationMessageFor(model => model.Comment)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.XrayImageId, "X-ray Image ID")
        @Html.EditorFor(model => model.XrayImageId)
        @Html.ValidationMessageFor(model => model.XrayImageId)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}
