
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<tryass.Models.Annotation>

@{
    ViewBag.Title = "Annotations";
}

<h2>Annotations</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>User ID</th>
        <th>Image</th>
        <th>Comment</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserId</td>
            <td><img src="@item.XrayImage.ImageUrl" alt="X-ray Image" width="100"></td>
            <td>@item.Comment</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Add Comment", "AddComment", new { id = item.Id })
            </td>
        </tr>
    }
</table>



