@model tryass.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>
    main {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
    }

    .form-header {
        padding: 20px 0;
        text-align: center;
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;
    }

    .form-footer {
        padding: 20px 0;
        text-align: center;
    }

    .form-group {
        margin-bottom: 20px;
        position: relative;
    }

    .float-label {
        position: absolute;
        left: 10px;
        top: -20px;
        font-size: 0.8em;
    }
</style>

<main aria-labelledby="title">
    <div class="form-header">
        <h2 id="title">@ViewBag.Title</h2>
        <h4>Create a new account</h4>
    </div>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", @class = "mt-4" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger mb-4" })

        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email" })
            @Html.LabelFor(m => m.Email, new { @class = "float-label" })
        </div>

        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter a strong password" })
            @Html.LabelFor(m => m.Password, new { @class = "float-label" })
        </div>

        <div class="form-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm your password" })
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "float-label" })
        </div>

        <div class="form-group">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
            @Html.LabelFor(m => m.FirstName, new { @class = "float-label" })
        </div>

        <div class="form-group">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
            @Html.LabelFor(m => m.LastName, new { @class = "float-label" })
        </div>

        <div class="form-group">
            @Html.TextBoxFor(m => m.DateofBirth, new { @class = "form-control datepicker", placeholder = "MM/DD/YYYY", data_date_format = "dd/mm/yyyy" })
            @Html.LabelFor(m => m.DateofBirth, new { @class = "float-label" })
        </div>

        <div class="form-footer">
            <input type="submit" value="Register" class="btn btn-outline-dark" />
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker({
                weekStart: 1,
                daysOfWeekHighlighted: "6,0",
                autoclose: true,
                todayHighlight: true,
            });
            $('.datepicker').datepicker("setDate", new Date());
        });
    </script>
}
